<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
	<br />
	<h1>Learn Magic from the Pros</h1>
	<br />
	<h2>I'm an illusionist, Michael</h2>
	<br />
	<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
	<br /><br />
</div>
</div>
<br />
	<div class="row feature text-center">
		<div class="col-12 col-sm">
			<h3>Great Courses</h3>
    		<br />
    		<p>Choose from a variety of occupational and vocational topics</p>
		</div>

		<div class="col-12 col-sm">
			<h3>Learn At Your Own Pace</h3>
    		<br />
    		<p>Part-time, Full-time, Online, Day time, Evening and Weekend Classe</p>
		</div>

		<div class="col-12 col-sm">
			<h3>Flexible Payments</h3>
    		<br />
    		<p>Grants, Loans, Scholarships, and Payment Plans for Every Budget</p>
		</div>
</div>
